<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<th:block th:fragment="header">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>管理</title>
		<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
		<link rel="stylesheet" th:href="@{/webjars/startbootstrap-sb-admin-2/css/sb-admin-2.min.css}">
		<link rel="stylesheet" th:href="@{/css/app.css}">
		<link rel="stylesheet" th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.min.css}">
		<link rel="stylesheet" th:href="@{/webjars/datatables-buttons/1.6.1/css/buttons.dataTables.min.css}">
	</th:block>
</head>
<body>
	<th:block th:fragment="scripts">
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/webjars/startbootstrap-sb-admin-2/js/sb-admin-2.min.js}"></script>
		<script th:src="@{/webjars/chartjs/Chart.min.js}"></script>
 		<script th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>
		<script th:src="@{/webjars/datatables-buttons/1.6.1/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/webjars/datatables-buttons/1.6.1/js/buttons.html5.min.js}"></script>
		<script th:src="@{/webjars/datatables-buttons/1.6.1/js/buttons.print.min.js}"></script>
		<script th:src="@{/webjars/jszip/3.1.0/jszip.min.js}"></script>
	</th:block>
</body>
</html>