@charset "UTF-8";

.bg-login-image{
	background: url(/images/photo1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.main-text {
	background-color: #1cc88a;
	border-radius: 10rem;
	padding: 5px;
	border: 1px solid gray;
}

.body-image {
	background: url(/images/photo3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
}

.side-visual {
	background: url(/images/photo3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
}